extends layout

block content
  div.container
    div.row
      div(class='col-md-12 text-center')
        h1= 'Winner'
        img(src='/images/iphone-7.jpg', alt='iPhone 7' height='200', width='200')
        h2= 'iPhone 7'
        br
    div.row
      div(class='col-md-4 text-center')
        img(src='/images/iphone-6s.jpeg', alt='iPhone 6s' height='200', width='200')
        h2= 'iPhone 6s'
      div(class='col-md-4 text-center')
        img(src='/images/iphone-7.jpg', alt='iPhone 7' height='200', width='200')
        h2= 'iPhone 7'
      div(class='col-md-4 text-center')
        img(src='/images/iphone-7s.jpg', alt='iPhone 7s' height='200', width='200')
        h2= 'iPhone 7s'
